# excludes from the docker image/build

# 1. Ignore Laravel-specific files we don't need
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.env*
.rr.yml
rr
frankenphp
vendor

# 2. Ignore common files/directories we don't need
fly.toml
.vscode
.idea
**/*node_modules
**.git
**.gitignore
**.gitattributes
**.sass-cache
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
public/hot

.git
.env
node_modules
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**

.git
.gitignore
.gitattributes
.env
.env.*
.editorconfig
.idea
.vscode
.DS_Store
Thumbs.db

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.phpunit.result.cache
docker-compose.override.yml
